@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@700&display=swap');

#sidebar {
    height: 50vh;
    background-size: cover;
    font-family: 'Nanum Gothic Coding', monospace;
}
#diary {
    font-size: medium;
}
/* #sidestyle {
    padding-left: 200px;
} */